/* *{
    box-sizing: border-box;
    border : solid 2px red;
} */

html,body{
    width: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 200px;
    background-image: url(logo.png);
    background-size: cover  ;
}

.rect{
    display: flex;
    justify-content: center;
    width: 87%;
    height: 180px;
    background: #FE9063;
    border-radius: 0px 0px 200px 200px;
}

.rond{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
    height: 160px;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.rond:hover{
    background: rgba(0, 0, 0, 0.764);
    transition-duration: 500ms;
}

.circle{
    display: flex;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.roller{
    width: 100%;
    height: 530px;
    background-image: url(roller.avif);
    background-size: cover;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #47474767 #78787863;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #78787874;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4747476d;
    border-radius: 10px;
    border: 2px solid #000000;
  }

.titre{
    display: flex;
    width: 800px;
    height: 370px;
    background: #FE9063;
    border-radius: 0px 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
    justify-content: center;
}

.text-titre{
    width: 100%;
    font-size : 2em;
    margin-left: 150px;
    margin-right: 150px;
}

.bleu-c{
    width: 100%;
    background-color: #27C7D4;
    height: 700px;
}

.bleu{
    width: 100%;
    background-color: #05AFBD;
    height: 50px;
}

.bleu-f{
    width: 100%;
    background-color: #1DA2AC;
    height: 700px;
}

.bleu-grad{
    width: 100%;
    background: #F5F5F5;
    background: linear-gradient(0deg, #F5F5F5 0%, #27C7D4 100%);
    height: 250px;
}

.beige{
    width: 100%;
    background-color: #F5F5F5;
    height: 350px;
}

.footer{
    width: 100%;
    background-color: #F5F5F5;
    height: 600px;
}

.footer-front{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    height: 600px;
}

.rolleur{
    width: 415px;
    height: 560px;
    background-size: cover;
    margin-right: 150px;
}

.main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 150px;
}

.content1-h1{
    color: white;
    font-size: 6em;
}

.content-p{
    color: white;
    font-size: 3em;
    margin-right: 175px;
    margin-bottom: 150px;
}

.roller-schema{
    display: flex;
    width: 430px;
    height: 385px;
    background-image: url(schema-roller.png);
    background-repeat: no-repeat;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center{
    display: flex;
    width: 50%;
    justify-content: center;
}


@media screen and (max-width: 1462px){
    h1{
        font-size: smaller;
    }
}